#nav-div{
    width: 100vw;
    height: 20%;
    padding: 1em .5em .2em .5em;
    background-color: #251605;
    color: #FCDE9C;
}
#nav-username-div{
    font-size: x-large;
    font-weight: 700;
}
@media(max-width:578px){
    #nav-username-div{
        font-size: large;
        /* font-weight: 700; */
    }   
}

.nav-icon{
    position: relative;
    top: 5px;
    font-size: x-large;
}